main.page-main {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    text-align: center;

    h1 {
        font-size: clamp(2.5rem, 0.625rem + 6vw, 4.375rem);
        margin: 10px 0;
    }
    
    h2 {
        font-size: clamp(1.875rem, 0.625rem + 4vw, 3.125rem);
        margin: 10px 0;
    }
    
    .valor {
        font-family: $font;
    }
    
    .mensagem {
        font-size: clamp(1.25rem, 0.625rem + 2vw, 1.875rem);
        margin: 50px 0 0;
        .box {
            background: transparent;
            border: 2px solid $text;
            border-radius: 0;
            color: $text;
            font-weight: bold;
            font-size: clamp(4.375rem, 2.5rem + 6vw, 6.25rem);
            margin: 40px auto 20px;
            max-width: 300px;
            padding: 20px 0 30px;
        }
    }
}