/**
*   FONT
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Open+Sans:wght@300;700&display=swap');
$font: 'Comfortaa', cursive;
$number: 'Open Sans', sans-serif;
$light: 300;
$bold: 700;


/**
*   COLORS
*/
$background: #00AEEF;
$text: #F1F2F4;